* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;

}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	color: white;  
	display: flex;
	justify-content:space-between;
	align-items: center;	
	padding: 15px;
}
header h2 {
	font-size: medium;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.411);
}
.spazio {
	margin-inline: 5px;
}
.per-te {
	color: white;
	font-weight: 500;

}


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffffff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	color: white ;
	font-size: small;
}
.things {
	margin:10px;
}
.things h3 {
	font-size: small;
	margin-bottom: 10px;
}

.down-bar {
	background-color: black;
	position: absolute;
	
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.elements-down-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: gray;
}

.down-bar p {
	font-size: x-small;
	font-weight: bold;
}
.elements-down-bar div {
	font-size: x-large;
}
#plus {
	color: black;
	background-color: white;
	width: 40px;
	text-align: center;
	border-radius: 20%;
}

.home {
	color: white;
}


/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}
.sidebar p {
	font-size:x-small;
	font-weight: bold;
}
.size {
	font-size: x-large;
}
.try {

	display: flex;
	flex-direction: column;
	align-items: center;
	
	

}

.sidebar img {
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
	border: white solid 1px;


}



/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/*.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}*/

/* --------------------- */
